body {
  background-color:  #008B95; /* For browsers that do not support gradients */
  font-family: 'Shrikhand', cursive;
}

.jumbotron{
    background-image: url(http://img10.deviantart.net/80d8/i/2014/175/7/e/goku_minimalist_by_artistwannab3-d7nqtcn.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    height:70rem;
}

#header{

    font-family: 'Lato', sans-serif;
}

.jumbotron h1{
    font-size:110px;
}

#content ul{
    vertical-align:top;
}

.info {

    margin-right:10px;
    margin-bottom:10px;
    padding-bottom:10px;
    padding-left:5px;
    border-radius:5px;
    background-color:#EEAA7A;
}

.info :hover {

    text-shadow: 1px 1px;
}

#wrapper {
  min-height:100%;
  margin-top: 2rem;
}

.bye{
    font-size:5rem;
    font-family: 'Shadows Into Light', cursive;
}

.bye a{
    color:black;
}

.bye a:focus{
}
.bye a:hover{
    background-image:url(http://vignette3.wikia.nocookie.net/superkaiju/images/1/1b/Kamehameha.gif/revision/latest?cb=20120907181403);
    background-repeat: no-repeat;
    background-size:cover;
}
.list-group-item{
    background-color:#EEAA7A;
}

html {
  height:100%;
}
