body {
  background-color:  #008B95; /* For browsers that do not support gradients */
  font-family: 'Shrikhand', cursive;
}

.jumbotron{
    background-image: url(http://img10.deviantart.net/80d8/i/2014/175/7/e/goku_minimalist_by_artistwannab3-d7nqtcn.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    height:70rem;
}

#header{

    font-family: 'Lato', sans-serif;
}

.jumbotron h1{
    font-size:110px;
}

#content ul{
    vertical-align:top;
}

.info {

    margin-right:10px;
    margin-bottom:10px;
    padding-left:5px;
    border-radius:5px;
    background-color:#EEAA7A;
}

.info :hover {

    text-shadow: 2px 2px;
}

#wrapper {
  min-height:100%;
  margin-top: 2rem;
}

.list-group-item{
    background-color:#EEAA7A;
}

html {
  height:100%;
}
